<div class="main-container">
  <div class="login-card">
    @if (mensajeBloqueado) {
      <div class="msg-bloqueado">🚫 {{ mensajeBloqueado }}</div>
    }
    <div class="header">
      <img src="assets/logo.png" alt="Coliapor Logo" class="logo">
      <p class="subtitle">Gestión Inteligente de Residuos</p>
    </div>

    <div class="form-group">
      <label>Correo Electrónico</label>
      <input type="email" placeholder="ejemplo@coliapor.com" #emailInput>
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" placeholder="••••••••" #passInput>
    </div>

    <button class="btn-login" (click)="ingresar(emailInput.value, passInput.value)">
      INICIAR SESIÓN
    </button>

    <div class="footer">
      <p>
        <span class="link-orange" (click)="olvideMiContrasena(emailInput.value)">
          ¿Olvidaste tu contraseña?
        </span>
      </p>
      <p>¿No tienes cuenta? <a class="link" routerLink="/register">Regístrate aquí</a></p>
    </div>
  </div>
</div>